.container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8; /* Light gray background for Admin */
}

.mainContent {
  flex: 1;
  margin-left: 250px; /* Width of sidebar */
  box-sizing: border-box;
}